/laskarit/viikko2/Maksukortti/target/
laskarit/viikko2/Unicafe/target/
/laskarit/viikko2/Unicafe/nbproject/
/Ajankayttosovellus/target/
/Ajankayttosovellus/nbproject/
/Ajankayttosovellus/nbactions.xml/
/Ajankayttosovellus/calender.txt/
/Ajankayttosovellus/users.txt/
